h1 {
  font-size: 5em ;
  color: #fff ;
  margin: 30 ;
}
h4 {
  font-size: 2.3em;
  color: #fff ;
  margin: 30 ;
}
h3 {
  font-size: 3em ;
  color: #fff ;
  margin:30 ;
}
h5 {
  font-size: 1.8em ;
  color: #fff ;
  margin: 30 ;
}
.aboutme a {
  text-decoration: none;
}
.aboutme a:hover {
  color: #FE9A2E;
}
.department b {
  color: #585858;
}
.intro p {
  font-size: 1.5em ;
  color: #fff ;
}
.releases {
  font-size: 1.5em ;
}
.col-sm-6 p {
  color: #fff ;
}
.copyright  {
  font-size: 1.5em ;
  color: #fff ;
}
.section  {
  text-align:center ;
}
.description  {
  font-size: 1.5em ;
}
.radius-img {
  backgroud: #ccc ;
  border: solid 1px #000 ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  border-radius: 10px ;
  width: 100% ;
}

.xs-size {
  font-size: 0.9em ;
}

.xs-dl {
  font-size: 1.7em ;
  text-align: left ;
}

.dl-sm {
  color: #fff ;
  font-size: 1.2em ;
}

.description-xs {
  font-size: 0.8em ;
}

.div-xs {
  color: #fff ;
}
