h1 {
  font-size: 5em ;
  color: #fff ;
  margin:0 ;
}
.intro p {
  font-size: 1.5em ;
  color: #fff ;
}
.releases {
  font-size: 1.5em ;
}
h3 {
  font-size: 3em ;
  color: #fff ;
  margin:0 ;
}
.col-sm-6 p {
  color: #fff ;
}
.copyright  {
  font-size: 1.5em ;
  color: #fff ;
}
.section  {
  text-align:center ;
}
.description  {
  font-size: 1.5em ;
}
.radius-img {
  backgroud: #ccc ;
  border: solid 1px #000 ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  border-radius: 10px ;
  width: 100% ;
}
