#nav  {
	width: 100%;
	text-align: center;
}
#nav ul  {
	overflow: hidden;
	width: 596px;
	margin: 0 auto;
}
#nav ul li  {
	float: left;
}
#nav ul li a {
	font-size: 20px;
	display: block;
	width: 108px;
	height: 55px;
	margin: 10px 0 5px 7px;
	padding: 1px 2px;
	line-height: 1.4;
	color: #ffffff;
	background: #9fb7d4;
	text-align: center;
}
#nav ul li a:hover {
	color: #ffffff;
	background: #afc6e2;
}
