name: Lint

on:
  pull_request:
    paths:
      - '.github/workflows/*.yml'

jobs:
  actionlint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

    - name: actionlint
      uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda  # v1.17.0
      with:
        github_token: ${{ secrets.github_token }}
        reporter: github-pr-review
        level: warning
