name: Lint

on:
  pull_request:
    paths:
      - '.github/workflows/*.yml'

jobs:
  actionlint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

    - name: actionlint
      uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda  # v1.17.0
      with:
        github_token: ${{ secrets.github_token }}
        reporter: github-pr-review
        level: warning
